extends ../layouts/general
block content
     h1 Edit Room
     form(action="/rooms/"+room.id+"/edit" ,method="POST")
        .from-group
            label(for="room_id") Số phòng
            input#room_id.form-control(name="room_id" type="text" value = values ? values.room_id :'')
        .from-group.mb-3
            label(for="room_type") Loại phòng
            input#room_type.form-control(name="room_type" type="text" value = values ? values.room_type :'')
        .from-group.mb-3
            label(for="price") Giá phòng
            input#price.form-control(name="price" type="text" value = values ? values.price :'')
        .from-group.mb-3
            label(for="note") Ghi chú
            input#note.form-control(name="note" type="text" value = values ? values.note :'')    
        .from-group.mb-3
            label(for="room_state") Tình trạng
            input#room_state.form-control(name="room_state" type="text" onclick="window.location.href='/rooms/'"+room.id value = values ? values.room_state :'')
        button.btn.btn-primary(type="submit") Edit