extends ../layouts/general
block content 
    h1 View Room 
    li="Loại phòng: "+room.room_type
    li="Giá phòng: "+room.price 
    li="Ghi chú: "+room.note 
    li=`Tình trạng: ${room.room_state? "Còn" : "Hết"}`
        form(action="/rooms/delete/"+ room.id,method="POST") 
            .form-group
                a.btn.btn-primary(href="/rooms/"+room.id+"/edit") Edit 
                button.btn.btn-primary(type="submit") Delete
                  