html
    head
        block head
            title Dream Hotel
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            link(rel="icon" href="/images/logo.jpg")
            link(rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css")
            link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
            link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet")
            link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css", integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3", crossorigin="anonymous")    
            link(rel="stylesheet", href="/styles/style.css")
            link(rel="stylesheet", href="/styles/input.css")
            link(rel="stylesheet",href="/styles/button.css")

    body
        script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
        script(src="https://code.jquery.com/ui/1.13.0/jquery-ui.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js", integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13", crossorigin="anonymous") 
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container-fluid
                a.navbar-brand(href='/') Dream Hotel
                    img.rounded-circle(src='/images/logo.jpg', width="34" height="28" class="d-inline-block align-text-top ms-1")
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavDropdown.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href='/booking') Booking
                        li.nav-item
                            a.nav-link(href='/users') Users
                        li.nav-item
                            a.nav-link(href='/rooms') Rooms
                        li.nav-item
                            a.nav-link(href='/customers') Customers
                        li.nav-item(style="position:absolute;right:10%")
                            a(href="/logout")
                                i(class="fas fa-sign-out-alt fa-2x" style="color:white")
                        li.nav-item.dropdown
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false') Contact
                            ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                li
                                    a.dropdown-item(href='#') Action
                                li
                                    a.dropdown-item(href='#') Another action
                                li
                                    a.dropdown-item(href='#') Something else here
                        li.nav-item
                            button.btn.btn-outline-success.me-2(type='button', data-bs-toggle='offcanvas', data-bs-target='#offcanvasWithBothOptions', aria-controls='offcanvasWithBothOptions') Guide
                        li.nav-item
                            a(type="button" id="body-color-btn")
                                i(class="fas fa-adjust fa-2x" style="color:#d3a1c4")

        #offcanvasWithBothOptions.offcanvas.offcanvas-start(data-bs-scroll='true', tabindex='-1', aria-labelledby='offcanvasWithBothOptionsLabel')
            .offcanvas-header
                img.rounded(src='/images/logo.jpg', style="width:10%")
                h5#offcanvasWithBothOptionsLabel.offcanvas-title Dream Hotel
                button.btn-close.text-reset(type='button', data-bs-dismiss='offcanvas', aria-label='Close')
            .offcanvas-body
                ul
                    h3 Description
                    li This is an developing project for hotels.
                    li Receptionist can access all feature of management 
                    li Customers can only book or looking for rooms
                ul 
                    h3 Available management
                    li Check in
                        p - Usage: Click <strong>check in</strong> button will show all customers that you're confirmed in <strong>Rent history</strong>
                            |  and also rooms that are available . Search for the customer information and type into the form. There is a alert message for wrong information !
                    li Check out
                        p - Usage: Click <strong>check out</strong> button. You have to type in room you want to checkout. Then
                            |  customer information that currently rent that room will showup. Check the information then ask customer the payment 
                            |  method. Choose payment method and confirm information again...
                    li Rent history 
                        p - Usage: This is where you confirm customers booking. These customers will be able to check in your hotel in the future.
                    li Payment history
                        p - Usage: This is where the bills history come up. Also you can get revenue of a month and export to excel.
                    li Services 
                        p - Usage: To add services for customers
                    li Vouchers
                        p - Usage: Type in a voucher code to get discount when checking out.
                    li Searching data
                        p - Usage: Just type in what you want to search
                ul 
                    h3 Upcoming features
                    li We are planing to develope this project bigger to suitable for big hotels that need a management website 
                ul.list-inline 
                    li.list-inline-item.fw-bold &copy; A3-CNPM-HUFLIT

    .container-md.pt-5
        block content
        block foot 
            footer.my-5.pt-5.text-muted.text-center.text-small
                img.rounded-circle(src='/images/logo.jpg', style="width:10%")
                p.mb-1 &copy; 2017&ndash;2021 Dream Hotel
                p &copy; A3-CNPM-HUFLIT
                ul.list-inline
                    li.list-inline-item
                        a(href='#') Privacy
                    li.list-inline-item
                        a(href='#') Terms
                    li.list-inline-item
                        a(href='#') Support
                ul.list-inline
                    li.list-inline-item
                        a(target="_blank" href="https://www.facebook.com/long.shaww/")
                            i(class="fab fa-facebook fa-2x" style="color:blue")
                    li.list-inline-item
                        a(target="_blank" href="https://www.instagram.com/long_shaww/")
                            i(class="fab fa-instagram fa-2x" style="color:purple")
                    li.list-inline-item
                        a(target="_blank" href="https://github.com/longshaww")
                            i(class="fab fa-github fa-2x" style="color:black") 

    script.
        $(document).ready(function(){
            $("#body-color-btn").click(function(){
                $("body").toggleClass("body-color");
            });
        });