html
	head
	body
			h2 Thư cảm ơn 
			p Cảm ơn <strong>#{name}</strong> đã lựa chọn Dream Hotel ! Chúng tôi sẽ sớm gọi lại cho bạn để xác nhận thông tin
			img(src="https://media.giphy.com/media/JlpjgShzDsrMIyFu5U/giphy.gif")
			

