extends ../layouts/general
block append head 
    link(rel="stylesheet" href="/styles/background-image.css")
block content
    body.background
        .text-dark.fw-bold
            h1.text-center Booking form 
            if(errors)
                each error in errors
                    .alert.alert-danger=error
            form(method="POST" action="/booking" id="form" class="needs-validation" novalidate)
                .from-group.mb-3
                    label(for="name") Tên
                    input#name.form-control(name="name" type="text" required)
                    .invalid-feedback Bạn cần phải nhập tên
                .from-group.mb-3
                    label(for="email") Email
                    input#email.form-control(name="email" type="text" required)
                    .invalid-feedback Bạn cần phải nhập ngày checkout
                .from-group.mb-3
                    label(for="phone") SĐT
                    input#phone.form-control(name="phone" type="text" required)
                    .invalid-feedback Bạn cần phải nhập SĐT
                .from-group.mb-3
                    label(for="CMND") Số CMND
                    input#CMND.form-control(name="CMND" type="text" required)
                    .invalid-feedback Bạn cần phải nhập CMND
                .from-group.mb-3
                    label(for="room_type") Loại Phòng
                    select#room_type.form-select(name="room_type" aria-label='Default select example')
                        option(selected='') Chọn loại phòng
                        option(value='Standard') Standard
                        option(value='Superior') Superior
                        option(value='Deluxe') Deluxe
                .from-group.mb-3.text-light
                    label(for="checkin_date") Ngày Checkin
                    input#checkin_date.form-control.datepick(name="checkin_date" type="text" required)
                    .invalid-feedback Bạn cần phải nhập ngày checkin
                .from-group.mb-3.text-light
                    label(for="checkout_date") Ngày Checkout 
                    input#checkout_date.form-control.datepick(name="checkout_date" type="text" required)
                    .invalid-feedback Bạn cần phải nhập ngày checkout
            .row 
                .col.text-center
                    button.btn.btn-dark.mt-4(type='button', data-bs-toggle='modal', data-bs-target='#exampleModal') Send
                    #exampleModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
                        .modal-dialog.modal-dialog-centered
                            .modal-content
                                .modal-header
                                    h5#exampleModalLabel.modal-title Confirmation
                                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                                .modal-body Are you sure you want to booking ?
                                .modal-footer
                                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                                    button.btn.btn-dark(type='submit' form="form") Send

        script(src='/js/form-validation.js')
        script(src='/js/datepicker.js')

