extends ../layouts/general
block content
    h1 Booking form
    form(method="POST" action="/booking/bookingform")
        .from-group
            label(for="name") Tên khách
            input#name.form-control(name="name" type="text")
        .from-group.mb-3
            label(for="phone") SĐT
            input#phone.form-control(name="phone" type="text")
        .from-group.mb-3
            label(for="CMND") Số CMND
            input#CMND.form-control(name="CMND" type="text")
        .from-group.mb-3
            label(for="room_type") Loại Phòng
            input#room_type.form-control(name="room_type" type="text")
        .from-group.mb-3
            label(for="checkin_date") Ngày Checkin
            input#checkin_date.form-control(name="checkin_date" type="text")
        .from-group.mb-3
            label(for="checkout_date") Ngày Checkout 
            input#checkout_date.form-control(name="checkout_date" type="text")
        button.btn.btn-dark Send