footer {
	color: white;
	font-weight: bold;
}
.background {
	height: auto;
	background-image: url("/images/background-hotel.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
