/* custom css */
.card {
	transition: transform 0.5s;
}
.card:hover {
	transform: translate(0, -0.5rem);
	border: 2px solid #bc8cf2;
}

tr:hover {
	background-color: #bc8cf2;
}

.btn {
	cursor: pointer;
}
