extends ../layouts/general
block content 
    h1 Create user 

    if errors
        each error in errors 
            .alert.alert-danger=error
    form(action="/users/create" ,method="POST" enctype="multipart/form-data")
        .from-group
            label(for="name") Name
            input#name.form-control(name="name" type="text" value= values ? values.name :'')
        .from-group.mb-3
            label(for="phone") Phone
            input#phone.form-control(name="phone" type="text" value= values ? values.phone :'')
        .from-group.mb-3
            label(for="email") Email
            input#email.form-control(name="email" type="text" value= values ? values.email :'')
        .from-group.mb-3
            label(for="password") Password
            input#password.form-control(name="password" type="text" value= values ? values.password :'')
        .from-group.mb-3
            label(for="avatar") Ảnh
            input#avatar.form-control(type="file" name="avatar" multiple)
        button.btn.btn-primary(type="submit") Create
