extends ../layouts/general
block content
        .d-flex.align-items-center
            h1 Users 
            a.btn.btn-primary(href="/users/create" class="mx-3") New users
            form(action="/users/search",method="GET" class="d-flex flex-grow-1 mt-3")
                input(type="text", name="q" class="form-control")
                button(class="btn btn-primary ml-4") Search

        h3 Name
        table.table 
            tr
                th Name
                th Phone
                th Actions
            each user in users
                tr
                    td=user.name
                    td=user.phone
                    td
                        a.btn.btn-primary(href="/users/"+ user.id class="ml-2") View
